.categories h2 {
  margin: 88px auto 24px;
  width: 300px;
  text-align: center;
  font-weight: var(--titles-weight);
  font-size: 28px;
  margin-bottom: 16px;
}

.categories.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categorie {
  display: block;
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  padding: 41px 16px;
  text-decoration: none;
  margin: 24px auto;
}

.categorie h3 {
  font-family: var(--titles-weight);
  font-size: 28px;
  margin-top: 24px;
  color: var(--text-primary-color);
}

.categories-cards .categorie.single-line.transfer img {
  margin: 10px 0 20px;
}
