.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.img-item {
  height: 400px;
  width: 100%;
  background: url(../img/tokyo-mobile.jpg) no-repeat;
}
