.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-item {
  height: 360px;
  width: 312px;
}

.item h4 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 24px 0px 0px;
}

.item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 1.5;
  margin: 24px;
  margin-top: 0px;
}

.item .button {
  display: block;
  box-sizing: border-box;
  width: 312px;
  margin-bottom: 0px;
}

.img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}
.img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .img-item.tokyo {
    background: url(../img/tokyo-tablet-desktop.jpg) no-repeat;
    background-size: cover;
    height: 452px;
    width: 648px;
  }
  .img-item.osaka {
    background: url(../img/osaka-tablet-desktop.jpg) no-repeat;
    background-size: cover;
    height: 452px;
    width: 648px;
  }
}

@media screen and (min-width: 1024px) {
}
