.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.item {
  box-sizing: border-box;
  padding: 0px 16px;
  text-align: left;
}

.img-item {
  height: 360px;
  width: 312px;
}

.item h4 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 24px 0px;
}

.item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 1.5;
  margin-bottom: 24px;
}

.item .button {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}
.img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
  margin-top: 40px;
}
