.main-footer {
  background: var(--background-tertiary-color);
  color: var(--text-tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 348px;
  font-weight: var(--text-weight);
}

.footer-content {
  margin: 32px 24px;
  font-weight: var(--text-weight);
}

.footer-content img {
  height: 40px;
}
.footer-content .p-um {
  margin-top: 16px;
  line-height: 28px;
}

.footer-content .p-dois {
  line-height: 28px;
  margin-top: 8px;
}

.footer-social p {
  margin: 0 0 16px;
}

@media screen and (min-width: 768px) {
  .main-footer {
    height: 300px;
  }

  .footer-content p {
    text-align: justify;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    height: 232px;
  }

  .footer-content {
    margin: 52px 80px;
  }

  .footer-content img {
    display: block;
    text-align: left;
  }
  .footer-social {
    margin: 78px 80px;
  }
}
