.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}
.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}
.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.hero .hero-packages {
  background: url(../img/travel-packages/hero-packages-mobile.png) no-repeat;
  background-size: cover;
}

.content-package {
  padding: 65px 24px;
}

.hero .content-package h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--background-primary-color);
}

.content-package hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0px 32px;
}

.content-text.packages {
  color: var(--background-primary-color);
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bg-bottom-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-packages {
    background: url(../img/travel-packages/hero-packages-tablet.png) no-repeat;
    background-size: cover;
  }

  .content-package {
    width: 600px;
    padding: 0px 68px 108px 120px;
  }

  .content-package p {
    font-size: 32px;
    line-height: 150%;
  }

  .packages-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .packages-items {
    min-height: 620px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-packages {
    background: url(../img/travel-packages/hero-packages-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .packages-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .packages-items {
    min-height: 620px;
  }

  .content-package {
    width: 580px;
    padding: 0px 0px 160px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .travel-packages .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
