.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
  height: 254px;
}
.payments .content-container .image-gallery .image.second {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
  height: 254px;
}
.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
  height: 182px;
}
.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

.text-content .content-text {
  margin-bottom: 24px;
}

.text-content .button {
  width: 100%;
}
.price-container {
  margin-bottom: 24px;
}
.price-value {
  font-size: 40px;
  font-weight: var(--title-weight);
}

.payments .content-container .image-gallery .image.one {
  background: url(../img/travel-packages/gallery1-payments-mobile.jpg) no-repeat;
  background-size: cover;
  height: 254px;
}
.payments .content-container .image-gallery .image.two {
  background: url(../img/travel-packages/gallery2-payments-mobile.jpg) no-repeat;
  background-size: cover;
  height: 254px;
}
.payments .content-container .image-gallery .image.three {
  background: url(../img/travel-packages/gallery3-payments-mobile.jpg) no-repeat;
  background-size: cover;
  height: 182px;
}
.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirdy {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.one {
    background: url(../img/travel-packages/gallery1-payments-tablet.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.two {
    background: url(../img/travel-packages/gallery2-payments-tablet.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.three {
    background: url(../img/travel-packages/gallery3-payments-tablet.jpg)
      no-repeat;
    background-size: cover;
  }

  .text-content .button {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .container-payments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
  }

  .payments .content-container .image-gallery {
    width: 540px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container .image-gallery .image.one {
    background: url(../img/travel-packages/gallery1-payments-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.two {
    background: url(../img/travel-packages/gallery2-payments-desktop.jpg)
      no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.three {
    background: url(../img/travel-packages/gallery3-payments-desktop.jpg)
      no-repeat;
    background-size: cover;
  }
  .container-payments {
    display: flex;
    justify-content: space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}
